################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Kingfar.BioFeedback.Client.UI
/Kingfar.BioFeedback.DataAccess/bin
/Kingfar.BioFeedback.DataAccess/obj
/Kingfar.BioFeedback.DataAccess.Abstractions/bin
/Kingfar.BioFeedback.DataAccess.Abstractions/obj
/Kingfar.BioFeedback.Entities/bin
/Kingfar.BioFeedback.Entities/obj
/Kingfar.BioFeedback.Mvvm/bin
/Kingfar.BioFeedback.Mvvm/obj
/Kingfar.BioFeedback.Patient.Client/bin/Debug/net7.0-windows
/Kingfar.BioFeedback.Patient.Client/obj
/Kingfar.BioFeedback.Services/bin
/Kingfar.BioFeedback.Services/obj
/Kingfar.BioFeedback.Services.Abstractions/bin
/Kingfar.BioFeedback.Services.Abstractions/obj
/Kingfar.BioFeedback.Setup/Debug
/Kingfar.BioFeedback.Shared/bin
/Kingfar.BioFeedback.Shared/obj
/Kingfar.BioFeedback.Shared.Abstractions/bin
/Kingfar.BioFeedback.Shared.Abstractions/obj
/Kingfar.BioFeedback.WebApp/bin/Debug/net7.0
/Kingfar.BioFeedback.WebApp/obj
/Kingfar.BioFeedback.WebHost/bin/Debug/net7.0
/Kingfar.BioFeedback.WebHost/obj
/Kingfar.BioFeedback.WPFCommon/bin/Debug/net7.0-windows
/Kingfar.BioFeedback.WPFCommon/obj
/Kingfar.BioFeedback.WPFUI/bin
/Kingfar.BioFeedback.WPFUI/obj
/.vs/Kingfar.BioFeedback/FileContentIndex
/.vs/Kingfar.BioFeedback/DesignTimeBuild
/.vs/Kingfar.BioFeedback/v17
