################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Kingfar.BioFeedback.Client.UI
/Kingfar.BioFeedback.DataAccess/bin
/Kingfar.BioFeedback.DataAccess/obj
/Kingfar.BioFeedback.DataAccess.Abstractions/bin
/Kingfar.BioFeedback.DataAccess.Abstractions/obj
/Kingfar.BioFeedback.Entities/bin
/Kingfar.BioFeedback.Entities/obj
/Kingfar.BioFeedback.Mvvm/bin
/Kingfar.BioFeedback.Mvvm/obj
/Kingfar.BioFeedback.Patient.Client/bin/
/Kingfar.BioFeedback.Patient.Client/obj
/Kingfar.BioFeedback.Services/bin
/Kingfar.BioFeedback.Services/obj
/Kingfar.BioFeedback.Services.Abstractions/bin
/Kingfar.BioFeedback.Services.Abstractions/obj
/Kingfar.BioFeedback.Setup/Debug
/Kingfar.BioFeedback.Shared/bin
/Kingfar.BioFeedback.Shared/obj
/Kingfar.BioFeedback.Shared.Abstractions/bin
/Kingfar.BioFeedback.Shared.Abstractions/obj
/Kingfar.BioFeedback.WebApp/bin/
/Kingfar.BioFeedback.WebApp/obj
/Kingfar.BioFeedback.WebHost/bin/
/Kingfar.BioFeedback.WebHost/obj
/Kingfar.BioFeedback.WPFCommon/bin/
/Kingfar.BioFeedback.WPFCommon/obj
/Kingfar.BioFeedback.WPFUI/bin
/Kingfar.BioFeedback.WPFUI/obj
/Kingfar.BioFeedback.Services.Dto/bin
/Kingfar.BioFeedback.Services.Dto/obj
/.vs/Kingfar.BioFeedback/FileContentIndex
/.vs/Kingfar.BioFeedback/DesignTimeBuild
/.vs/Kingfar.BioFeedback/v17
/Kingfar.BioFeedback.Services.Dto/bin
/Kingfar.BioFeedback.Services.Dto/obj
/Kingfar.BioFeedback.Patient.Client/obj
/Kingfar.BioFeedback.Patient.Client/bin
/Kingfar.BioFeedback.Patient.Client/bin/
/Kingfar.BioFeedback.Host.Install/bin/Debug
/Kingfar.BioFeedback.Host.Install/obj/Debug
/Kingfar.BioFeedback.Client.Setup/Debug
/Kingfar.BioFeedback.Setup/Kingfar.BioFeedback.Setup.vdproj
*.msi
/Kingfar.BioFeedback.Client.Setup/Release
/.vs/ProjectEvaluation/kingfar.biofeedback.metadata.v7.bin
/.vs/ProjectEvaluation/kingfar.biofeedback.projects.v7.bin
/Kingfar.BioFeedback.Client.Install/obj/Debug/Kingfar.BioFeedback.Client.Install.csproj.AssemblyReference.cache
/Kingfar.BioFeedback.Host.Install/obj/Release/Kingfar.BioFeedback.Host.Install.csproj.AssemblyReference.cache
/Kingfar.BioFeedback.Host.Setup/Debug
/Kingfar.BioFeedback.Client.Install/bin/Debug
/Kingfar.BioFeedback.Client.Install/obj/Debug
/Kingfar.BioFeedback.Host.Install/bin/Release/Kingfar.BioFeedback.Host.Install.dll
/Kingfar.BioFeedback.Host.Install/bin/Release/Kingfar.BioFeedback.Host.Install.pdb
/Kingfar.BioFeedback.Host.Install/obj/Release/Kingfar.BioFeedback.Host.Install.dll
/Kingfar.BioFeedback.Host.Install/obj/Release/Kingfar.BioFeedback.Host.Install.pdb
/Kingfar.BioFeedback.Client.Install/bin/Release/Kingfar.BioFeedback.Client.Install.dll
/Kingfar.BioFeedback.Host.Setup/Release/setup.exe
/Kingfar.BioFeedback.LayUI/obj
/Kingfar.BioFeedback.LayUI.Mvvm/obj
/nzpDC75.tmp
/nzpFF53.tmp
